{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="container p-3 mt-5 "> <!--container contenant l'affichage du panier-->
    <div>
        <h1 class="txt-center ">Panier</h1>
    </div>

  <form action="">
    <div>
    <table class="table table-hover text-center mt-5">
  <thead>
    <tr>
      <th scope="col">Produit</th>

      <th scope="col">Quantité</th>

      <th scope="col">Prix</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table">
      <th scope="row">Nom produit</th>
      <td><div class="form-group">
      <select class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div></td>
      <td>Column content

      <button type="button pd-3" class="btn btn-danger">supprimer</button>

      </td>


    </tr>

    </tr>
  </tbody>
</table>

    </div>
    </form>
  </div>

  <style>
  body {
    margin-top: 55px;
  }
  </style>


{% endblock %}
