{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}


 <div class="container-flex">
  <img class="d-block w-100"src="https://raw.githubusercontent.com/EclipsioZ/SiteProjetCompl-mentaire/master/img/imgBackground/campus_cesi_toulouse-8-2.jpg"  >
  <div class="centered"><h1 class="h1-responsive ">Bienvenue Chez SolidarityBond</h1></div>
</div>


<div class=" container p-5">
 <div class="row mt-5">
 <h1 class="text-center">Qui sommes nous ?</h1>
 <p class="text-center">SolidarityBOND est une association fondé par les étudiants du Campus du CESI de Toulouse.
 Grâce à ce site vous pouvez reserver des protections sanitaires gratuites. </p>
 </div>
 <div class="row">
 <h1 class="text-center mt-5">Nos produits phares</h1>
 <p class="text-center">Vous pourrez retrouver nos produits et les reserver gartuitement  dans le shop, ceuxoi-ci sont entierement imprimié et assemblé en France au Fablabs de Toulouse. </p>
 </div>
 </div>



<style>

body {
  margin-top: 55px;
}
/* Container holding the image and the text */
.container-flex {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);


</style>

{% endblock %}
