{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
<div class=" container ">
 <div class="row mt-5">
 <h1 class="text-center">Bienvenue</h1>
 <p class="text-center">SolidarityBOND est une association fondé par les étudiants du Campus du CESI de toulouse.
 Grâce à ce site vous pouvez reserver des protections sanitaires gratuites. </p>
 </div>
 <div class="row">
 <h1 class="text-center mt-5">Nos produits phares</h1>
 <p class="text-center">Vous pourrez retrouver nos produits et les reserver gartuitement  dans le shop, ceuxoi-ci sont entierement imprimié et assemblé en France au Fablabs de Toulouse. </p>
 </div>
 </div>
 <div class="row ">
 </div>
</div>
{% endblock %}
