{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}


</div>
</div>

<section class="txt-center">
   <div class="card dark">
     <div class="card-image align-middle ">
       <img class="d-block w-100" src="https://raw.githubusercontent.com/EclipsioZ/SiteProjetCompl-mentaire/master/img/imgBackground/campus_cesi_toulouse-8-2.jpg" alt="logo"/>
       <div class="carousel-caption">
         <h1 class="h3-responsive my-auto">Bienvenue</h1>
         <p>First text</p>
       </div>
     </div>
   </div>
 </section>


<div class=" container ">
 <div class="row mt-5">
 <h1 class="text-center">Bienvenue</h1>
 <p class="text-center">SolidarityBOND est une association fondé par les étudiants du Campus du CESI de toulouse.
 Grâce à ce site vous pouvez reserver des protections sanitaires gratuites. </p>
 </div>
 <div class="row">
 <h1 class="text-center mt-5">Nos produits phares</h1>
 <p class="text-center">Vous pourrez retrouver nos produits et les reserver gartuitement  dans le shop, ceuxoi-ci sont entierement imprimié et assemblé en France au Fablabs de Toulouse. </p>
 </div>
 </div>
 <div class=" container ">
  <div class="row mt-5">
  <h1 class="text-center">Bienvenue</h1>
  <p class="text-center">SolidarityBOND est une association fondé par les étudiants du Campus du CESI de toulouse.
  Grâce à ce site vous pouvez reserver des protections sanitaires gratuites. </p>
  </div>
  <div class="row">
  <h1 class="text-center mt-5">Nos produits phares</h1>
  <p class="text-center">Vous pourrez retrouver nos produits et les reserver gartuitement  dans le shop, ceuxoi-ci sont entierement imprimié et assemblé en France au Fablabs de Toulouse. </p>
  </div>
  </div>


<style>
.section{}
</style>

{% endblock %}
