{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}


<div class="container-flex" id="cover" ><!--Conteneur prenant toute la largeur de la page contenant une photo de couverture et un message de bienvenue -->
  <img class="d-block w-100"src="https://raw.githubusercontent.com/EclipsioZ/SiteProjetCompl-mentaire/master/img/imgBackground/campus_cesi_toulouse-8-2.jpg"  >
  <div class="centered" ><h1 class="h1-responsive ">Bienvenue Chez SolidarityBond</h1></div>
</div>


<div class=" container p-5">
 <div class="row mt-5">
   <div class="col">
   <h1 class="text-center">Qui sommes nous ?</h1>
   <p class="text-center">SolidarityBOND est une association fondée en mai 2020 lors de la crise sanitaire du covid-19 par les étudiants en seconde année du cycle préparatoire d'ingénieur spécialité informatique du Campus du CESI à Toulouse Labège.
   Le but de cette association est de permettre au visiteurs du sites de réserver des protections sanitaires gratuitement! afin de proteger leur proches ou leurs employés.
   </p>
   </div>
 </div>
</div>


<div class="container-flex bg-dark " id="nosPorduits">
  <div class="row" >
  <div class="col-sm p-5">
  <h1 class="text-white">Nos produits</h1>
  <p class="text-white">Les produits distribués par SolidarityBOND sont tous assemblés au Fablab du Campus CESI de Labège. Vous pouvez les visioner en appuyant sur le bouton ci-dessous:
  </p>

  <button type="button" class="btn btn-primary" onclick="location.href='/shop/displayProduct/'"><h6>Nos produits</h6></button>
  </div>
  <div class="col-sm" style="background:transparent url('https://raw.githubusercontent.com/EclipsioZ/SiteProjetCompl-mentaire/master/img/imgBackground/campus_cesi_toulouse-8-2.jpg') no-repeat center center /cover">
  </div>
  </div>
</div>


 <div class=" container p-5">
  <div class="row mt-5 mb-5">
    <div class="col">
    <h1 class="text-center">Qui sommes nous ?</h1>
    <p class="text-center">SolidarityBOND est une association fondée en mai 2020 lors de la crise sanitaire du covid-19 par les étudiants en seconde année du cycle préparatoire d'ingénieur spécialité informatique du Campus du CESI à Toulouse Labège.
    Le but de cette association est de permettre au visiteurs du sites de réserver des protections sanitaires gratuitement, afin de protéger leur proches ou leurs employés. </p>
    </div>
  </div>
 </div>

<style>

body {
  margin-top: 55px;
}
/* Container holding the image and the text */
#cover {
  position: relative;
  text-align: center;
}

#nosProduits{
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);

}


</style>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
