{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}


{% block body %}
<div class="container p-5 mt-5 ">
        <h1 class="txt-center">Mentions Légales</h1>
            <h2>Solydarity BOND®</h2>
        <br>Solidarity BOND's team<br>
        <br>Campus CESI Labège Innopole 31670
        </p>
        <p><a href="mailto:solidaritybond@gmail.com"></a>solidaritybond@gmail.com</p>
        <p>Téléphone: 06 23 94 11 98<br>
        Fax: 080 777 55 13<br>
        TVA-No. CH-999.9.045.632-7</p>
        <h2>Production</h2>
        <p><strong>Concept</strong>: 2sic internet solutions gmbh - Switzerland and Liechtenstein - <a href="https://www.2sic.com" target="_blank" rel="noopener">www.2sic.com</a>&nbsp;<br>
        <strong>CMS &amp; Programmation</strong>: 2sic internet solutions gmbh - Switzerland and Liechtenstein - <a href="https://www.2sic.com" target="_blank" rel="noopener">www.2sic.com</a>&nbsp;<br>
        <strong>Design</strong>: 2sic internet solutions gmbh - Switzerland and Liechtenstein - <a href="https://www.2sic.com" target="_blank" rel="noopener">www.2sic.com</a>&nbsp;</p>
        <h2>Avis de non-responsabilité et protection des données</h2>
        <h3>Droit d'auteur</h3>
        <p>Léquipe Solidarity BOND est titulaire des droits d'auteur pour tous les contenus du site web.&nbsp;</p>
        <h3>Avis de non-responsabilité</h3>
        <p>Tous les textes et les liens ont été vérifiés avec soin et sont régulièrement mis à jour. Nous nous efforçons de mettre à disposition sur ce site web des informations correctes et complètes. Néanmoins, nous rejetons toute responsabilité et ne garantissons en aucun cas l'exactitude, l'exhaustivité ni le caractère actuel des informations disponibles sur ce site web. Nous nous réservons le droit de modifier à tout moment et sans préavis les informations disponibles sur ce site web. En outre, nous ne nous engageons pas à mettre à jour lesdites informations. L'exactitude de tous les liens vers des fournisseurs externes a été vérifiée au moment de leur publication. Nous n'assumons toutefois aucune responsabilité quant au contenu et à la disponibilité des sites pouvant être consultés par le biais d'hyperliens. Pour les contenus illégaux, erronés ou incomplets, et en particulier pour les dommages résultant de l'utilisation de sites reliés, seul le gestionnaire de la page sur laquelle l'utilisateur a été renvoyé peut être tenu responsable. Cette disposition s'applique indépendamment du fait qu'il s'agisse de dommages directs, de dommages indirects ou de nature financière ou de tout autre dommage pouvant résulter d'une perte de données, de l'impossibilité d'utilisation ou autres.</p>
        <h3>Protection des données</h3>
        <p>La transmission de données sur Internet par le biais de courriers électroniques est sujette à l'abus par des tiers. Nous ne pouvons donc garantir la sécurité des données envoyées via Internet. L'opérateur se réserve expressément le droit de prendre des mesures juridiques en cas d'envoi non-sollicité de matériel publicitaire ou informatif. Si certaines dispositions ou formulations du présent avis de non-responsabilité étaient ou devenaient invalides, la teneur et la validité des autres dispositions n'en seraient pas affectées.</p>

    </div>


{% endblock %}
