{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container p-2 mt-5 "> <!--container contenant l'affichage des contacts reçu via le formulaire de contact-->
    <div>
        <h1 class="txt-center mt-5 ">Contacts</h1>
    </div>

<table class="table table-hover txt-center mt-5"><!--creation du tableau du panier-->
  <thead>
    <tr>
      <th scope="col">Nom & prenom</th><!--3 champs des contacts-->
      <th scope="col">Adresse mail </th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody><!--Debut corps contenant tableau-->
    <tr class="table"> <!--tuple d'un contact-->
      <th scope="row ">Nom et prenom </th>
      <td>adresse mail</td>
      <td>message</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container p-2 mt-4 "> <!--container contenant l'affichage des commandes-->
    <div>
        <h1 class="txt-center mt-5 ">Commandes</h1>
    </div>

<table class="table table-hover txt-center mt-5"><!--creation du tableau du commandes-->
  <thead>
    <tr>
      <th scope="col">Nom & prenom</th><!--5 champs des comandes-->
      <th scope="col">Adresse mail </th>
      <th scope="col">Adresse de livraison</th>
      <th scope="col">N°téléphone</th>
      <th scope="col">Produits</th>
    </tr>
  </thead>
  <tbody><!--Debut corps contenant tableau-->
    <tr class="table"><!--tuple d'une commande-->
      <th scope="row ">Nom & prenom</th>
      <td>adresse mail</td>
      <td>Adresse de livraison</td>
      <td>N°téléphone</td>
      <td>quantité + Produits</td>
    </tr>
  </tbody>
</table>
</div>

<style>

body {
  margin-top: 55px;
}
</style>
{% endblock %}
