{% extends 'base.html.twig' %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block body %}

<div class="container p-5 mt-5 "> <!--container contenant l'affichage des infos du compte-->
    <div>
        <h1 class="txt-center ">Nom Prenom </h1>
    </div>
    <hr>
  <div>
    <div class="row mt-5"><!--<div class="col-sm-4">photo de profile</div>-->
      <div class="col-sm-4">
      <qr> <!--Rangée avec Prenom et nom-->
       <div class=""><h2>Prenom</h2></div>
       <hr>
       <input type="FirstName" class="form-control"  placeholder="Prénom">
       <div class="textarea mt-4"><h2>Nom</h2></div>

       <hr>
       <input type="lastname" class="form-control"  placeholder="Nom">
      </div>

      <div class="textarea mt-4"><h2>Adresse</h2></div>
      <hr>
      <input type="lastname" class="form-control"  placeholder="Adresse">
     </div>

      <div class="col-sm-8"><!--Rangée avec Mail et mot de passes-->
      <qr>
       <div class=""><h2>Mail</h2></div>
       <hr>
      <input type="email" class="form-control" placeholder="Email">

       <div class="textarea mt-4"><h2>Mot de passe</h2></div>
       <hr>
       <input type="FirstName" class="form-control"  placeholder="mdp">

       <div class=""><h2>numero de télephone</h2></div>
       <hr>
      <input type="email" class="form-control" placeholder="numero de téléphone">

      </div>

      </div>

    </div>
  </div>
</div>


{% endblock %}
